/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e1F5ff;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: left;
    /* color: #F9F9F9; */
}


/* Header Grid CSS -------------
----------------------------------------*/
header {
    background-color: #2C99ED;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "menu title ."
        "subtitle subtitle subtitle";
    width: 100%;
}
.h1 {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
}
.menu-btn {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 40px;
    margin: 8px;
}
.home-btn {
    grid-area: home;
    display: flex;
    justify-content: flex-start;
}
.account-btn {
    grid-area: account;
    display: flex;
    justify-content: flex-end;
}
.subtitle {
  grid-area:subtitle;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #fff;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* End of Header Grid CSS ---------------
--------------------------------------------*/



/* Home/Index Page ------------------------ 
----------------------------------------*/
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}
.form-group:last-child {
    margin-bottom: 0;
}

.text {
    width: calc(120%);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
}

.number {
    width: calc(120%);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
}
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
}
#expense-container select {
    width: 100%;
    margin-right: 10px;
}
button {
    background-color: #65647C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
/* button:hover {
    background-color: #8EA7E9;
} */
ul {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    max-width: 600px;
}
.transaction-list {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li button {
    background-color: #f44336;
    font-size: 14px;
    padding: 8px 12px;
    margin-left: 10px;
}

/*
li button:hover {
    background-color: #e53935;
} */
#budget-container, #expense-container, #category-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 18px;
    margin-bottom: 30px;
    width: calc(33.333% - 20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#budget-container {
    background-color: #ACB1D6;
}
#expense-container {
    background-color: #BDCDD6;
}
#category-container {
    background-color: #93BFCF;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
}


/* End of Home/Index Page ---------------- 
----------------------------------------*/


/* New Home/Index design by Bon -----
-----------------------------------*/
body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  } 

  h1 {
    margin-right: 20px;
  }
  
  #account-icon {
    width: 45px;
    height: 45px;
    left: 17%;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
  }
  

  
  #home-icon {
    margin-left: 10px;
  }
  
  #subheadings {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    right: 10px;
    font-size: 20px;
    margin-right: 0px;
    margin-left: 70px;
    color:#333;
  }
  
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
  }
  
  
  a.logout-link {
    margin-right: 15px;  
    margin-top: 5px;
  }
  
  #total {
    margin-top: 30px;
  }
  
  .summary {
    height: 40px;
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .view-section {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    margin-top: 20px;
  }
  
  .view-section h3 {
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
  }

  .view-section h5 {
    margin-left: 5%;
  }
  
  hr {
    width: 90%;
    border: 1px solid black;
    margin-left: 25px;
  }
  
  .first-h4 {
    margin-top: 20px;
    margin-left: 25px;
    width: 80px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;

  }

  #total-heading {
    color: rgb(255, 255, 255);
    background-color: #118C4F;
  }
  
  .expenses-section {
    /* background-color: #BAF2E9; */
    background-color: #dcfdff;;
    width: 90%;
    margin-left: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
  }

  #totals h4 {
    font-size: 16px;
  }
  
  #transaction {
    margin-top: 20px;
    margin-left: 5.5%;
    /* font-family: 'Montserrat', sans-serif; */
    background-color: #118C4F;
    border-radius: 0px;
    width: 220px;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
  }

  #transaction > h4 {
    color: #fafafa;
  }
  
  .transaction-section {
    /* background-color: #d4f3fa; */
    background-color: #dcfdff;
    width: 90%;
    margin-left: 5.5%;
    border-radius: 10px;
    margin-bottom: 30px
  }

  #transaction-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    height: 100%;
    padding: 2%;
    text-align: center;
}

.transaction {
    font-size: 18px;
    height: 20%;
    width: 100%;
    border-bottom:#333 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  #category-section {
    margin-top: 20px;
    margin-left: 25px;
    color: rgb(255, 255, 255);
    background-color: #118C4F;
    border-radius: 5px;
    width: 220px;
    text-align: center;
    font-size: 20px;
    border-radius: 3px;
  }
  
  /* .category-overview1 {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-around;
    align-items: center;
    background-color: #a2d2ff;
    border: solid 1px #a2d2ff;
    width: 150px;
    border-radius: 5px;
    height: 120px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 6px 2px darkblue inset;
  }
  
  .category1 {
    height: 90px;
    width: 150px;
    background-color: #65A5E2;
    border-radius: 5px;
    margin-bottom: 28px;
    box-shadow: 1px 1px 6px 2px darkblue inset;
  } */

  .category-overview {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-around;
    align-items: center;
    background-color: #a2d2ff;
    border: solid 1px #a2d2ff;
    width: 300px;
    border-radius: 2px;
    height: 120px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px 1px #87b4de inset;
    color: white;
  }
  
  .category-view {
    height: 90px;
    width: 300px;
    background-color: #2b86dc;
    border-radius: 2px 2px .5px .5px;
    margin-bottom: 28px;
    box-shadow: inset 0 0 3px 2px #4373a0; 
  }

  .category-view label {
    color: black;
  }
  
  .percentage-bar {
    height: 40px;
    border: 2px solid black;
    /* background-color: yellow; */
    width: 50%;
    height: 10px;
    margin-left: 20px;
    border-radius: 0px;
  }

  .percentage {
    background-color: yellow;
    width: 0;
    height: 100%;
  }

  .percent-label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3%;
  }
  
  /* .category-overview2 {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-around;
    align-items: center;
    background-color: #a2d2ff;
    border: solid 0px #a2d2ff;
    width: 150px;
    border-radius: 5px;
    height: 120px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 6px 2px darkblue inset;
  } */
  
  
  .categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

/* End of New Home/Index design by Bon -------- 
----------------------------------------*/

/* alert */

#alert-box {
  background-color: rgb(190, 214, 253);
  height: 50px;
  width: 300px; 
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 90;
  transition: .6s;
}


/* Side Menu ----------------
--------------------------------*/
#menu-expand {
    overflow-x: hidden;
    height: 100vh;
    width: 0;
    background-color: #0e6683;
    position: fixed;
    z-index: 1;
    left: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}
#menu-expand a {
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 30px;
    transition: 0.5s;
}
#side-menu-close {
    align-self: flex-end;
}
#menu-expand a:hover {
    background-color: rgb(93, 135, 93);
    border-radius: 35px;
}
.bar {
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    margin: 2px;
    /* cursor: pointer; */
}
/* End of Side Menu --------
--------------------------------*/



/* Categories Page ------------
--------------------------------*/
#categories-title {
    text-align: center;
    margin-left: 5%;
    padding-top: 15px;
    /* background-color: rgb(232, 255, 238); */
    height: 80px;
    width: 90%;
    z-index: 0;
    margin-top: 0;
    /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); */
    /* background: linear-gradient(240deg, rgb(232, 255, 238) 90%, #e1F5ff 10%); */
}

#edit-categories {
    display: flex;
    justify-content: end;
    width: 89%;
}

.categorylist-container {
    border-bottom: .25px rgba(184, 184, 184, 0.6) solid;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 0;
}
.category-container {
    margin: 0;
    padding: 0;
}
#category-list {
    margin-top: 20px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 2.5%; */
    z-index: 0;
}

.category {
    background-color:rgb(255, 252, 241);
    height: 110px;
    width: 95vw;
    border-radius: 33px;
    box-shadow: 1px 1px 5px rgb(189, 212, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    margin-bottom: 0;
    transition: .6s;
    cursor: pointer;
}

.category-link {
  display: flex;
  flex-direction: column;
}

a {
    text-decoration: none;
}

.name-date {
    margin-left: 25px;
    color: black;
}

.category-name {
    text-align: start;
    font-size: 24px;
    font-weight: bold;
    color: #DA0063;
}

.category-budget {
    margin-right: 20px;
    /* color: rgb(45, 147, 89); */
    color: #118C4F;
    font-weight: bold;
    font-size: 17px;
}

.category-clicked {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1), 0px -10px 15px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.budget-dropdown {
    z-index: 1;
    position: fixed;
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 0;
    /* width: 83%; */
    width: 68%;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.1), -5px 0 10px rgba(0, 0, 0, 0.1);
    transition: .6s;
    overflow-x: hidden;
}

.budget-item {
    display: flex;
    width: 75%;
    justify-content: space-between;
    border-bottom: .25px rgba(184, 184, 184, 0.6) solid;
    padding-bottom: 5%;
}

.budget-div {
  display: flex;
  justify-content: space-between;
}

.budget-link {
  width: 100%;
  height: 150%;
}

.budget-link p {
    color: rgb(0, 0, 0);
}

.budget-item a {
    padding: 10px;
}

.budget-item a:hover {
    background-color: rgb(191, 250, 187);
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgb(131, 131, 131);
    transition: 0.1s;
}

.dropdown-container {
    display: flex;
    justify-content: center;
}
.dropdown-display {
    overflow-x: visible;
}

.category-btns {
    display: flex;
    flex-direction: row;
}

.cat-btns-div {
    overflow: hidden;
    height: 0;
    transition: 0.1s;
    
}

.btn-danger {
    background-color: rgb(221, 55, 55);
    color: white;
    width: 50%;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

.btn-danger-form {
    width: 75%;
}

.btn-secondary {
    width: 50%;
    color: white;
    background-color: rgb(137, 153, 137);
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

/* category edit popup*/

.category-edit-popup {
    position: fixed;
    bottom: 10%;
    z-index: 999;
    width: 90vw;
    /* height: 60vh; */
    padding: calc(5% - 20px);
    background-color: white;
    display: none;
}

.category-edit-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(59, 62, 62, 0.5);
    z-index: 999;
    display: none;
}

.category-edit-popup h4 {
    grid-column: 1 / 4;
    text-align: center;
    font-size: 20px;
}

.category-edit-popup h5 {
    font-size: 16px;
    grid-column: 1 / 2;
}

.category-edit-popup label {
    grid-column: 1 / 2;
}

.rename-category-btn {
    width: 30%;
    margin-left: 2%;
}

.rename-category-input {
    width: 75%;
}

.category-edit-popup form {
    grid-column: 1 / 4;
    height: 80%;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
}

/* .category-edit-popup div form {
    grid-column: 1 / 4;
    height: 75%;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
} */

.category-edit-popup div > form {
    margin-right: 2%;
}

.edit-budget-forms {
    grid-column: 1 / 4;
    display: flex;
}

.edit-budget-forms form {
   display: grid;
   grid-template-columns: 50% 50%;
}

 .edit-budget-btn {
    /* width: 40%;
    height: 40%; */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.edit-budget-input {
    /* width: 100%;
    height: 50%; */
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.remove-budget {
    font-size: 12px;
    height: 70%;
    padding: 1px;
    background-color: #ca3a30;
    color: white;
    border-radius: 4px;
    grid-column: 1 / 2;
} 


.category-edit-clicked {
    display: block;
    /* display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 6% 10% 10%; */
    /* grid-auto-rows: 6% 20% 8%; */
}

/*Are you sure? category deletion popup */

.category-delete-popup {
    position: fixed;
    bottom: 35%;
    z-index: 999;
    width: 90vw;
    height: 60vh;
    padding: calc(5% - 20px);
    background-color: white;
    display: none;
    padding-top: 10%;
}

.btn-danger-div {
    width: 50%;
    display: flex;
    justify-content: center;
}

.delete-category-2nd {
    width: 100%;
}

.btn-cancel-div {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 10% 0;
}

.category-delete-clicked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.category-delete-clicked h3, .category-delete-clicked h4 {
    text-align: center;
}

.cancel-btn {
    color: grey;
    height: 100%;
}

.cancel-form {
    width: 100%;
    height: 100%;
}



/* End of Categories Page --------
----------------------------------------*/


/* Expenses page 
--------------------------------*/
.expense-list {
margin-left: 25px;
color: black;
}
.expense-item {
display: flex;
flex-direction: column;
margin-bottom: 4px;
}
/*---- End of Expense Page--------
--------------------------------*/


/*login page 
--------------------------------*/
#login-logo {
/* height: 30vh; */
margin-top: 50px;
margin-bottom: 40px;
display: flex;
align-items: center;
flex-direction: column;
background-color: transparent;
}


#login-info, #register-info {
display: flex;
flex-direction: column;
align-items: center;
height: 12vh;
justify-content: space-around;
}

#login-container, #register-container{
/* width: 100%; */
display: flex;
flex-direction: column;
align-items: center;
}

#register-info {
    height: 100%;
}

#register-info input {
    margin-top: 10px;
}

/* #login-h1, #register-h1 {
/* margin-right: 3%;
margin-bottom: 5%; 
} */


#login-settings {
display: flex;
flex-direction: column;
width: 100%;
height: 70px;
align-items: center;
justify-content: space-between;
}

#remember-me {
width: 30px;
transform: scale(2);
}

#remember-label {
font-size: 20px;
}

#forgot-password {
color: blue;
font-size: 18px;
}

#login-link {
width: 100%;
display: flex;
justify-content: center;
margin-right: 10%;
}


#login-button {
font-size: 18px;
font-weight: bold;
margin-top: 20px;
background-color: #ed344c;
border-radius: 5px;
margin-left: 7%;
width: calc(60vw + 30px);
box-shadow: 1px 7px 6px rgba(0, 0, 0, 0.1);
}

button {
border: 0;
line-height: 3;
color: #fff;
padding: 0 15px;
background-color: #375f68;
border-radius: 10px;
/* box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6); */
}

#login-register, #login-register-btn {
display: flex;
margin-top: 30px;
justify-content: center;
}

#login-register-btn {
  justify-content: space-between;
  width: 15rem;
}

.login-tab {
    width: 88px;
    background-color: white;
    color: rgb(131, 131, 131);
    border-radius: 5px;
}

.active {
  background-color: rgb(167, 223, 255);
  color: rgb(19, 68, 152);
}


#login-register li {
margin: 0 20px;
width: 100px;
border: none;
background-color: rgb(248, 247, 247);
}

#login-register li a {
width: 100%;
color: rgb(131, 131, 131);
text-align: center;
font-family: sans-serif;
font-weight: bold;
}


/* End of Log In Page --------
--------------------------------*/


/* Mobile-first styles ------------
----------------------------------------*/
#budget-container, #expense-container, #category-container {
    width: 100%;
    margin-bottom: 20px;
}
/* Media queries for larger screens */
@media screen and (min-width: 768px) {
    #budget-container, #expense-container, #category-container {
        width: calc(33.333% - 20px);
        margin-bottom: 30px;
    }
    h1 {
        font-size: 45px;
        margin-left: 50px ;
    }

    .view-section {
      width: 75%;
      height: 830px;
      margin-top: 75px;
      background-color: white;
      border-radius: 20px;
  }


    /* Category Page 
    ------------------------------*/
    #category-list {
        align-items: center;
    }
    .categorylist-container {
        border-bottom: .25px rgba(184, 184, 184, 0.6) solid;
        padding: 4px;
        margin: 1px;
    }
    .category {
        height: 100px;
        width: 75vw;
        border-radius: 10px;
        margin: 0;
        font-size: 10px;
    }
    .name-date {
        margin-left: 12%;
    }
    .name-date > h4 {
        font-size: 2.5em;
        margin-bottom: 5%;
    }
    .name-date > p {
        font-size: 1.5em;
    }
    .category-budget {
        margin-right: 10%;
        font-size: 2em;
    }
    .budget-item {
        font-size: 1.5em;
        display: flex;
        width: 80%;
        justify-content: space-between;
        border-bottom: .25px rgba(184, 184, 184, 0.6) solid;
        /* padding-bottom: 5%; */
    }
    
    .budget-div {
      font-size: 16px;
    }

    .category-edit-popup {
        width: 50vw;
    }


    /* End of Category Page*/
    }
@media screen and (max-width: 767px) {
    .h1 {
        font-size: smaller;
    }
}
/* End of Mobile-First Design CSS
---------------------------------------*/


/* Transfer Page ----------------
------------------------------------*/

/* Ends of Transfer Page ----------------
------------------------------------*/

/* Home page desktop design */
@media screen and (min-width: 768px) {
    body,html {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  
    h1 {
      text-align: center;
    }

    .bar {
        width: 25px;
        height: 5px;
        margin: 2px;
        margin-left: 40px;
    }
    
    /* .menu-btn {
        width: 20px;
        height: 5px;
        margin: 2px;
        margin-left: 30px;
    } */

    .subtitle {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 400px;
      font-weight: bolder;
    }
  
    #subheadings {
      margin-left: 39%;
      font-size: 25px;
      text-align: center;
      gap: 50px;
    }
  
    #account-icon {
      position: absolute;
      margin-left: 75%;
      margin-bottom: -10px;
    }
    
    #home-icon {
      position: absolute;
      margin-left: 35px;
      margin-top: 10px;
    }
  
    .view-section {
      width: 80%;
      height: 1000px;
      border-radius: 10px;
    }
  
    .summary {
      padding-left: 80px;
      margin-bottom: 10px;
      font-size: 30px;
      margin-top: 10px;
      text-align: start;
    }
  
    hr {
      margin-left: 80px;
      width: 90%;
      margin-bottom: 30px;
    }
  
    .first-h4 {
      font-size: 25px;
      background-color: lightgrey;
      height: 40px;
      width: 90px;
      border-radius: 10px;
      margin-left: 80px;
      text-align: center;
      color: black;
    }

    .expenses-section {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left: 80px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    
    #transaction {
      font-size: 25px;
      width: 240px;
      height: 55px;
      padding-top: 5px;
      margin-left: 80px;
      border-radius: 10px;
      color: black;
    }
  
    .transaction-section {
      margin-left: 80px;
      height: 250px;
      margin-bottom: 25px;
      border-radius: 10px;
    }
  
    #category-section {
      font-size: 25px;
      width: 240px;
      height: 60px;
      border-radius: 10px;
      margin-left: 80px;
      padding-top: 10px;
      color: rgb(255, 255, 255);
    }
  
    .categories-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  
    .category-overview1 {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      justify-content: space-around;
      align-items: center;
      background-color: #a2d2ff;
      width: 400px;
      border-radius: 8px;
      height: 160px;
      margin-left: 20px;
    }
    
    .category1 {
      height: 120px;
      width: 400px;
      background-color: #65A5E2;
      border-radius: 8px;
      margin-bottom: 39px;
    }
    
    #percentage1 {
      height: 40px;
      border: 2px solid black;
      background-color: yellow;
      height: 10px;
      margin-top: 110px;
      margin-left: 190px;
      margin-right: 10px;
      border-radius: 5px;
      width: 190px;
    }
    
  
    .category-overview2 {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        justify-content: space-around;
        align-items: center;
        background-color: #a2d2ff;
        width: 400px;
        border-radius: 8px;
        height: 160px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
      
    .category2 {
        height: 120px;
        width: 400px;
        background-color: #65A5E2;
        border-radius: 8px;
        margin-bottom: 39px;
    }
    
    #percentage2 {
        height: 40px;
        border: 2px solid black;
        background-color: yellow;
        height: 10px;
        margin-top: 135px;
        width: 190px;
        margin-left: 195px;
        border-radius: 5px;
      }
    
  
    .expenses-section h4 {
      font-size: 30px;
    }
}
/* End of home page desktop design */