/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.title-container {
  text-align: left;
  width: 100%;
  max-width: 1200px;
}

.title {
  background-color: #5CA7D6;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 140px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 44px;
  text-align: center;
  margin-top: 30px;
}

h2 {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.bar {
  width: 30px;
  height: 5px;
  position: relative;
  background-color: black;
  border-radius: 5px;
  margin: 3px;
  bottom: 80px;
  left: 10px;
  cursor: pointer;
}


#account-icon {
  width: 45px;
  height: 45px;
  position: relative;
  left: 86%;
  bottom: 125px;
  cursor: pointer;
}

#home-icon {
  position: relative;
  left: 0;
  bottom: 100px;
}


.add-type {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
  color: #F9F9F9;
}


form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.form-group:last-child {
  margin-bottom: 0;
}

input[type="text"] {
  width: calc(120%);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
}

input[type="number"] {
  width: calc(120%);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  margin-bottom: 10px;
}

#expense-container select {
  width: 100%;
  margin-right: 10px;
}

button {
  background-color: #65647C;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #8EA7E9;
}

ul {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  max-width: 600px;
}

li {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #f44336;
  font-size: 14px;
  padding: 8px 12px;
  margin-left: 10px;
}

li button:hover {
  background-color: #e53935;
}

#budget-container, #expense-container, #category-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 18px;
  margin-bottom: 30px;
  width: calc(33.333% - 20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#budget-container {
  background-color: #ACB1D6;
}

#expense-container {
  background-color: #BDCDD6;
}

#category-container {
  background-color: #93BFCF;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
}


/* side menu */

#menu-expand a {
  text-decoration: none;
  padding: 10px 8px 10px 32px;
  color: white;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 30px;
  transition: 0.5s;
  /* background-color: #5CA7D6; */
}

#menu-expand {
  overflow-x: hidden;
  margin-right: 389px;
  height: 100vh;
  width: 0;
  background-color: #0e6683;
  padding-top: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.menu-display {
  overflow-x: visible;
}

#side-menu-close {
  position: absolute;
  top: 10px;
  right: 30px;
}


/* Categories list */

#category-list {
  margin-top: 20px;
  margin-right: 2%;
  width: 95vw;
  display: flex;
  flex-direction: column;
}

.category {
  background-color:rgb(229, 242, 247);
  height: 70px;
  border-radius: 27px;
  box-shadow: 1px 1px 5px rgb(189, 212, 217);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.name-date {
  margin-left: 25px;
  color: black;
}

.category-name {
  text-align: start;
  font-size: 18px;
}

.category-budget {
  margin-right: 20px;
  color: rgb(45, 155, 126);
  font-weight: bold;
}




/* Mobile-first styles */
#budget-container, #expense-container, #category-container {
  width: 100%;
  margin-bottom: 20px;
}

.container {
  flex-direction: column;
}

/* Media queries for larger screens */
@media screen and (min-width: 768px) {
  #budget-container, #expense-container, #category-container {
    width: calc(33.333% - 20px);
    margin-bottom: 30px;
  }

  .container {
    flex-direction: row;
  }

  img {
    left: 96%;
  }

  h1 {
    margin-left: 30%;
  }

  .container {
    justify-content: space-around;
  }

  a {
    margin-left: -108%;
  }

  #account-icon {
    position: absolute;
    left: 95%;
    bottom: 91%;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  #home-icon {
    position: absolute;
    left: 4%;
    bottom: 82%;
  }

  #category-list {
    width: 45%;
    margin-left: 50%;
    justify-content: center;
  }

  .category {
    height: 120px;
    margin-bottom: 20px;
    border-radius: 50px;
  }

  .name-date {
    margin-left: 100px;
  }

  .category-budget {
    margin-right: 100px;
  }
  
}
