<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/account-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <a href="#" class="cross-icon"></a>
        <div class="logout-icon">
            <img id="logout-img" src="../static/images/logout-icon.png" alt="logout" width="30px" height="30px">
            <h3 class="logout-text">Log Out</h3>
        </div>
      
        <a href="#" class="cross-icon"></a>
        <div class="avatar">
            <img src="../static/images/account-icon.png" alt="avatar" width = "130px" height = "130px">
            <h1>User Name</h1>
        </div>
    </div>

    <div id="location">
        <img class="location-icon" src="../static/images/location-icon.png" alt="location" width="15px" height="20px">
        <h3>Location</h3>
    </div>

    <div class="horizontal-line1"></div>
    <div class="person-icon">
        <img src="../static/images/person-icon.png" alt="personal" width="35px" height="40px">
        <h2>Personal Information</h2>
    </div>

    <div class="horizontal-line2"></div>
    <div id="notification-icon">
        <img src="../static/images/notification-icon.png" alt="notification" width="40px" height="40px">
        <h2>Notifications</h2>
    </div>

    <div class="horizontal-line3"></div>
    <div class="wishlist-icon">
        <img src="../static/images/wishlist-icon.png" alt="wishlist" width="40px" height="40px">
        <h2>Wishlist</h2>
    </div>

    <div class="horizontal-line4"></div>
    <div class="saved-icon">
        <img src="../static/images/saved-icon.png" alt="save" width="40px" height="40px">
        <h2>Saved</h2>
    </div>

    <div class="horizontal-line5"></div>
    <div id="settings-icon">
        <img src="../static/images/setting-icon.png" alt="setting" width="40px" height="40px">
        <h2>Settings</h2>
    </div>
</body>
</html>