{% extends "base.html" %}
{% block title %}ExpendAware - Category{% endblock %}
{% block content %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<main id="categories-main">
    <h2 id="categories-title">Categories</h2>

<div id="edit-categories">
    <button>Edit Categories</button>
    <p>{{ budget_name }}</p>
</div>

<div id="category-list">
    {% for category in categories %}
    <div class="categorylist-container">
    <div class="category-container">
    <div class="category-link"><div class="category">
        <div class="name-date">
            <h4 class="category-name">{{ category['category'] }}</h4>
            <p>Created {{ category['date'] }}</p>
        </div>
        {% for budget in total_budgets %}
        {% if budget['category'] == category['category'] %}
        <p class="category-budget {{ category['category'] }}">Budget: ${{ budget['total budget'] }}</p>
        {% endif %}
        {% endfor %}
    </div></div>
    </div>
    <div class="dropdown-container">
    <ul class="budget-dropdown" id="{{ category['category'] }}">
        {% for budget in budgets %}
        {% if budget['category'] == category['category'] %}
        <li class="budget-item"><a href="{{ url_for('budget_detail', budget_name=budget['name']) }}" class="budget-link"><div class="budget-div"><p>{{ budget['name'] }}</p><p>Budget: ${{ budget['amount'] }}</p></div></a></li>
        {% endif %}
        {% endfor %}
    </ul>
    </div>
    <div class="cat-btns-div"><div class="category-btns">
        <button class="btn btn-secondary btn-sm edit-btn" id="edit-{{ category['category'] }}">Edit Category</button>
        <button class="btn btn-danger btn-sm delete-category" id="delete-{{ category['category'] }}">Delete Category</button>
    </div></div>
</div>
    <div id="edit-background-{{ category['category'].strip().replace(' ', '-').replace('\'', '') }}" class="category-edit-background">
    </div>
    <div class="category-edit-popup" id="edit-popup-{{ category['category'].strip().replace(' ', '-').replace('\'', '') }}">
        <h4><b>Edit Category</b></h4>
        <label>Rename Category</label>
        <form method="POST">
            <input type="text" placeholder="Rename" name="rename category {{ category['category'] }}" class="rename-category-input">
            <input type="submit" value="Rename" class="rename-category-btn">
        </form>
        <h4>Edit or delete budgets</h4>
        {% for budget in budgets %}
        {% if budget['category'] == category['category'] %}
        <h5>{{ budget['name'] }}</h5>
        <div class="edit-budget-forms">
            <form method="POST">
            <input type="text" placeholder="Rename" name="rename budget {{ budget['name'] }}" class="edit-budget-input">
            <input type="submit" value="Rename" class="edit-budget-btn">
            </form>
            <form method="POST">
            <input type="number" placeholder="Edit Amount" name="edit budget {{ budget['name'] }}" class="edit-budget-input">
            <input type="submit" value="Update" class="edit-budget-btn">
            </form>
        </div>
        <form method="POST">
            <input type="submit" name="delete budget {{ budget['name'] }}" value="Remove Budget" class="remove-budget">
        </form>
        {% endif %}
        {% endfor %}
    </div>
    <div id="delete-background-{{ category['category'].strip().replace(' ', '-').replace('\'', '') }}" class="category-edit-background">
    </div>
    <div class="category-delete-popup" id="delete-category-{{ category['category'] }}"> 
        <div>
        <h3>Delete {{ category['category'] }} category?</h3>
        <h4><strong>This will delete all the budgets and expenses in this category.</strong></h4>
        </div>
        <div class="btn-cancel-div">
        <form method="POST" class="cancel-form">
            <input type="submit" class="cancel-btn" value="Cancel" name="cancel">
        </form>
        </div>
        <div class="btn-danger-div">
        <form method="POST" class="btn-danger-form">
            <input type="submit" class="btn btn-danger btn-sm delete-category-2nd" value="Delete Category" name="delete category {{ category['category'] }}">
        </form>
    </div>
    </div>
    {% endfor %}

</div>

</main>

{% endblock %}

{% block script %}
    <script src="/static/javascript/category.js"></script>
{% endblock%}