{% extends "base.html" %}
{% block title %}ExpendAware - Category{% endblock %}
{% block content %}
<main>
    <h2>Categories</h2>
</main>

<div id="category-list">
    {% for category in categories %}
    <a href="#"><div class="category">
        <div class="name-date">
            <h4 class="category-name">{{ category['category'] }}</h4>
            <p>{{ category['date'] }}</p>
        </div>
        {% for budget in budgets %}
        {% if budget['category'] == category['category'] %}
        <p class="category-budget">Budget: ${{ budget['total budget'] }}</p>
        {% endif %}
        {% endfor %}
    </div></a>
    {% endfor %}

</div>

{% endblock %}