<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <title>ExpendAware</title>
</head>
<body>
    <header class="title">
        <div class="title-container">
          <h1>ExpendAware</h1>  
        </div>
    
        <div class="menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
    
        <div>
          <img src="../static/images/account-icon.png" alt="account-icon" id="account-icon">
        </div>

        <div id="home-icon">
            <a href="/"><img src="../static/images/home-button.png" width="50" height="50" alt="home-button"></a>
        </div>
    </header>

    <div id="menu-expand">
        <a href="#" id="side-menu-close">&timesbar;</a>
        <a href="/categories">Category</a>
        <a href="">Expenses</a>
        <a href="#">Costs</a>
        <a href="#">Transfer</a>
        <a href="#">History</a>
        <a href="#">Statistic</a>
    </div>
      
    <main>
        <h2>Expenses</h2>
    </main>

    <div id="category-list">
        {% for category in categories %}
        <a href="#"><div class="category">
            <div class="name-date">
                <h4 class="category-name">{{ category['category'] }}</h4>
                <p>Created 03 May 2023</p>
            </div>
            <p class="category-budget">Remaining Budget: ${{ category['remaining_budget'] }}</p>
        </div></a>
        {% endfor %}
    </div>

</body>
</html>
