<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Braah+One&display=swap" rel="stylesheet">
    <script src="/static/script.js"></script>
</head>

<body>
    <header class="title">
        <div class="title-container">
            <h1>ExpendAware</h1>
        </div>

        <div class="menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <div>
            <img
                src="../static/images/account-icon.png"
                alt="account-icon"
                id="account-icon"
            />
        </div>
    </header>    

    <div class="subtitle">
        <div id="home-icon">
            <a href="/"><img src="../static/images/home-button.png" width="30" height="30" alt="home-button"></a>
        </div>    
        <div id="subheadings">
            <h3>Category</h3>
            <h3>Transfer</h3>
            <h3>Costs</h3>
        </div>
        <a href="/login" class="logout-link">
            <button style="background-color: white; color:crimson; font-family: 'Braah One', sans-serif; font-weight: bolder; border-radius: 50%;
            width: 60px; height: 60px; padding: 5px;">Log out</button>
        </a>
    </div>
        
        
    <div>
        <h3><img src="/static/images/budget.png" alt="budget-icon">Add Budget</h3>
        <h3><img src="/static/images/expense.png" alt="expense-icon">Add Expense</h3>
        <h3><img src="/static/images/category.png" alt="category-icon">Add Category</h3>
    </div>
    

    <!-- <a href="/login" class="logout-link">
        <button style="background-color: white; color:crimson; font-family: 'Braah One', sans-serif; font-weight: bolder; border-radius: 50%;
         width: 60px; height: 60px; padding: 5px;">Log out</button>
    </a> -->

    <div id="menu-expand">
        <a href="#" id="side-menu-close">&timesbar;</a>
        <a href="/categories">Category</a>
        <a href="/expenses">Expenses</a>
        <a href="/cost">Costs</a>
        <a href="/transfer">Transfer</a>
        <a href="/history">History</a>
        <a href="/statistic">Statistic</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>