{% extends "base.html" %}
{% block title %}ExpendAware - Home{% endblock %}
{% block content %}

<div>
  <button class="subtitle-icons" id="add-budget"><h3>Add&nbspBudget</h3></button>
  <button class="subtitle-icons" id="add-expense"><h3>Add&nbspExpense</h3></button>
  <button class="subtitle-icons" id="add-category"><h3>Add&nbspCategory</h3></button>
</div>


<div id="liveAlertPlaceholder"></div>

<div class="view-section">
  <div id="total">
      <h3 class="summary">Overview/Summary <img src="../static/images/summary-circle-icon.png" width="45" height="45" id="summary-icon"></h3>
      <hr />
  </div>
      
  <h4 class="first-h4" id="total-heading">Total</h4>
  
  <div class="expenses-section" id="totals">     
      <h4>Total Budget: ${{ total_budget }}</h4>
      <h4>Total Expenses: ${{ total_expenses }}</h4>
  </div>

  <div id="transaction">
      <h4>Latest Transaction</h4>
  </div>      
  
  <div class="transaction-section">
    <ul id="transaction-list">
      {% if history | length > 0 %}
      {% for action in history %}
      <li class="transaction"> {{ action['action'] }} | {{ action['name'] }} - ${{ action['amount'] }} | {{ action['date'] }} <br> {{ action['description'] }}</li>
      {% endfor %}
      {% else %}
      <p>No transactions yet</p>
      {% endif %}
    </ul>
  </div>

  <div>
      <h4 id="category-section">Category Overview</h4>
  </div>

 
  <div class="categories-container">
    {% for category in categories %}
      <div class="category-overview">    
          <div class="category-view">
            <h3>{{ category['category'] }}</h3>
            <h5>Total Budget: ${{ category['total budget'] }}</h5>
            <h5>Total Expenses: ${{ category['total expenses'] }}</h5>
          
              
          </div>
          <div class="percent-label">
            {% if category['total budget'] != 0 %}
            <label class="calculated-percent"> {{ '%0.0f' | format((category['total expenses'] / category['total budget']) * 100) | int}}% Spent</label>
            <div class="percentage-bar"><div class="percentage"></div></div>
            {% else %}
            <label>No budgets yet</label>
            {% endif %}
            </div>
      </div>
      {% endfor %}
    </div>
</div>


<div class="container">
  <div id="budget-container">
    <h2 class="add-type">Budget</h2>
    <form method="POST" id="budget-form" name="add-budget-form">
      <div class="form-group">
        <input
          type="text"
          id="budget-name"
          placeholder="Budget name"
          name="name"
          class="text"
        />
        <input
          type="number"
          id="budget-amount"
          placeholder="Amount"
          name="amount"
          min="0"
          class="number"
        />
      </div>
      <label>Choose a category</label>
      <select id="budget-category" name="category">
        {% for category in categories %}
        <option value="{{ category.category }}">
          {{ category.category }}
        </option>
        {% endfor %}
      </select>
      <button type="submit">Add Budget</button>
    </form>
  </div>

  <div id="expense-container">
    <h2 class="add-type">Expense</h2>
    <form method="POST" id="expense-form" name="add-expense-form">
      <div class="form-group">
        <input
          type="text"
          id="expense-description"
          placeholder="Description"
          name="descr"
          class="text"
        />
        <input
          type="number"
          id="expense-amount"
          placeholder="Amount"
          name="amount"
          min="0"
          class="number"
        />
      </div>
      <label>Choose a category</label>
      <select id="expense-category" name="category">
        {% for category in categories %}
        <option value="{{ category.category }}">
          {{ category.category }}
        </option>
        {% endfor %}
      </select>
  
      <!-- New budget selection dropdown -->
      <label>Choose a budget</label>
      <select id="expense-budget" name="budget">
        {% for budget in budgets %}
        <option value="{{ budget.name }}" data-category="{{ budget.category }}">
          {{ budget.name }}
        </option>
        {% endfor %}
      </select>
  
      <button type="submit">Add Expense</button>
    </form>
  </div>

  <div id="category-container">
    <h2 class="add-type">Category</h2>
    <form method="POST" id="category-form" name="add-category-form">
      <div class="form-group">
        <input
          type="text"
          id="category-name"
          placeholder="Category name"
          name="category"
          class="text"
        />
      </div>
      <button type="submit">Add Category</button>
    </form>
    <ul id="added-category-list">
    </ul>
  </div>
</div>

<ul class="hidden-lists">
  {% for category in categories %}
  <li class="category-name">{{ category["category"] }}</li>
  {% endfor %}
</ul>

<ul class="hidden-lists">
  {% for budget in budgets %}
  <li class="budget-name">{{ budget["name"] }}</li>
  {% endfor %}
</ul>

<ul class="hidden-lists">
  {% for budget in budgets %}
  <li class="budget-amount">
    <p class="totals-budget-name">{{ budget["name"] }}</p>
    <p class="totals-budget-amount">{{ budget["amount"] }}</p>
    {% for expense in expenses %}
    {% if expense["budget"] == budget["name"] %}
    <p class="totals-expense-amount">{{ expense["amount"] }}
    {% endif %}
    {% endfor %}
  </li>
  {% endfor %}
</ul>


<footer>
</footer>

{% endblock %}

{% block script %}
  <script src="/static/javascript/home.js"></script>
{% endblock%}