{% extends "base.html" %}
{% block title %}ExpendAware - Home{% endblock %}
{% block content %}


<!-- this is just a test button for the alert message, do not delete! -->
<!-- <div id="liveAlertPlaceholder"></div>
<button type="button" class="btn btn-primary" id="liveAlertBtn">Show live alert</button> -->



<div class="view-section">
  <div id="total">
      <h3 class="summary">Overview/Summary</h3>
      <hr />
  </div>
      
  <h4 class="first-h4" id="total-heading">Total</h4>
  
  <div class="expenses-section" id="totals">     
      <h4>Budget: ${{ total_budget }}</h4>
      <h4>Expenses: ${{ total_expenses }}</h4>
  </div>

  <div id="transaction">
      <h4>Latest Transaction</h4>
  </div>      
  
  <div class="transaction-section"></div>

  <div>
      <h4 id="category-section">Category Overview</h4>
  </div>

  <div class="categories-container">
      <div class="category-overview1">    
          <div class="category1">
              <!-- <div class="budget1"></div> -->
              <div class="percent-label">
              {% for category in categories %}
              {% if category['total budget'] != 0 %}
              <label> {{ '%0.0f' | format((category['total expenses'] / category['total budget']) * 100) | int}}%</label>
              {% endif %}
              {% endfor %}
              <div id="percentage1"></div>
              </div>
          </div>
      </div>

      <div class="category-overview2">      
          <div class="category2">
              <div class="budget2"></div>
              <div id="percentage2"></div>
          </div>
      </div>
  </div>    
</div>


<div class="container">
  <div id="budget-container">
    <h2 class="add-type">Budget</h2>
    <form method="POST" id="budget-form">
      <div class="form-group">
        <input
          type="text"
          id="budget-name"
          placeholder="Budget name"
          name="name"
          class="text"
        />
        <input
          type="number"
          id="budget-amount"
          placeholder="Amount"
          name="amount"
          min="0"
          class="number"
        />
      </div>
      <label>Choose a category</label>
      <select id="budget-category" name="category">
        {% for category in categories %}
        <option value="{{ category.category }}">
          {{ category.category }}
        </option>
        {% endfor %}
      </select>
      <button type="submit">Add Budget</button>
    </form>
    <ul id="budget-list">
      {% for b in budgets %}
      <li class="transaction-list">
        <p>{{ b.category }} - {{ b.name }}</p>
        <p>${{ b.amount }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div id="expense-container">
    <h2 class="add-type">Expense</h2>
    <form method="POST" id="expense-form">
      <div class="form-group">
        <input
          type="text"
          id="expense-description"
          placeholder="Description"
          name="descr"
          class="text"
        />
        <input
          type="number"
          id="expense-amount"
          placeholder="Amount"
          name="amount"
          min="0"
          class="number"
        />
      </div>
      <label>Choose a category</label>
      <select id="expense-category" name="category">
        {% for category in categories %}
        <option value="{{ category.category }}">
          {{ category.category }}
        </option>
        {% endfor %}
      </select>
      <!-- <select>
        {% for budget in budgets %}
      </select> -->
      <button type="submit">Add Expense</button>
    </form>
    <ul id="expense-list">
      {% for e in expenses %}
      <li class="transaction-list">
        <p>{{ e.category }} - {{ e.descr }}</p>
        <p>${{ e.amount }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div id="category-container">
    <h2 class="add-type">Category</h2>
    <form method="POST" id="category-form">
      <div class="form-group">
        <input
          type="text"
          id="category-name"
          placeholder="Category name"
          name="category"
          class="text"
        />
      </div>
      <button type="submit">Add Category</button>
    </form>
    <ul id="added-category-list">
      {% for category in categories %}
      <li class="transaction-list">
        <p>{{ category.category }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div id="homepage-totals">
  <p>Total Budget: {{ total_budget }}</p>
  <p>Total Expenses: {{ total_expenses }}</p>
</div>

<a href="/login" class="logout-link">
  <button>Logout</button>
</a>

<footer>
</footer>

{% endblock %}
