<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <script src="../static/script.js" defer></script>
  <title>ExpendAware</title>
</head>
<body>
  <header class="title">
    <div class="title-container">
      <h1>ExpendAware</h1>  
    </div>

    <div class="menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    <div>
      <img src="../images/account-icon.png" alt="account-icon" id="account-icon">
    </div>

    <div id="home-icon">
      <a href="index.html"><img src="../images/home-button.png" width="50" height="50" alt="home-button"></a>
    </div>
  </header>

  <div id="menu-expand">
    <a href="#" id="side-menu-close">&timesbar;</a>
    <a href="categories.html">Category</a>
    <a href="#">Expenses</a>
    <a href="#">Costs</a>
    <a href="#">Transfer</a>
    <a href="#">History</a>
    <a href="#">Statistic</a>
  </div>
  
    <div class="container">
    <div id="budget-container">
      <h2 class="add-type">Budget</h2>
      <form id="budget-form">
        <div class="form-group">
          <input type="text" id="budget-name" placeholder="Budget name">
          <input type="number" id="budget-amount" placeholder="Amount">
        </div>
        <button type="submit">Add Budget</button>
      </form>
      <ul id="budget-list"></ul>
    </div>
    <div id="expense-container">
      <h2 class="add-type">Expenses</h2>
      <form id="expense-form">
        <div class="form-group">
          <input type="text" id="expense-description" placeholder="Description">
          <input type="number" id="expense-amount" placeholder="Amount">
        </div>
        <select id="expense-category"></select>
        <button type="submit">Add Expense</button>
      </form>
      <ul id="expense-list"></ul>
    </div>
    <div id="category-container">
      <h2 class="add-type">Categories</h2>
      <form id="category-form">
        <div class="form-group">
          <input type="text" id="category-name" placeholder="Category name">
        </div>
        <button type="submit">Add Category</button>
      </form>
      <ul id="category-list"></ul>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/static/script.js"></script>
</body>
</html>
