
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/login.css" />
    <script src="../static/login.js" defer></script>
    <title>Login</title>
</head>

<body>
    <img id="login-logo" src="../static/images/logo.png" width="150" height="150"/>

    <div id="login-register-btn">
        <button id="login-tab" class="login-tab active">Login</button>
        <button id="register-tab" class="login-tab">Register</button>
    </div>

        
    <h1 id="login-h1">Login</h1>

    <form method="POST" action=" /login " id="login-info">
        <label for="email">Email Address</label>
        <input type="text" placeholder="Email Address" id="email" name="email" required/>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required/>

        <label for="remember-me">
            <input type="checkbox" id="remember-me" name="rememberMe"> 
            Remember Me
        </label>

        <button type="submit" id="login-button">Login</button>

        <a href="#" id="forgot-password">Forgot Password?</a>
    </form>


    <!--
    <div id="login-container">


        <h1 id="login-h1">Login</h1>


        <form method="POST" action="{{ url_for('login') }}" id="login-info">

            <input type="text" placeholder="Email Address" name="email"/>

            <input type="text" placeholder="Password" name="password" />

            <button type="submit" id="login-button">Login</button>
        </form>

    </div>
    -->
</body>
