{% extends "base.html" %} 

{% block title %}ExpendAware - Transfer{% endblock %}

{% block content %}
<form>
    <p>From</p>
    <select id="" name="budget">
        {% for budget in budgets %}
            <option value="{{ budget.name }}">
                {{ budget.category }} -
                {{ budget.name }} has
                ${{ budget.amount }}
            </option>
        {% endfor %}
    </select>

    <p>To</p>
    <select id="" name="budget">
        {% for budget in budgets %}
            <option value="{{ budget.name }}">
                {{ budget.category }} -
                {{ budget.name }} has
                ${{ budget.amount }}
            </option>
        {% endfor %}
    </select>
    <div>
        <p>Amount</p>
        <input
        type="text"
        id="budget-name"
        placeholder="Budget name"
        name="name"
        />
    </div>
</form>

{% endblock %}
