{% extends "base.html" %} 

{% block title %}ExpendAware - Transfer{% endblock %}

{% block content %}
<form method="POST">
    <p>From</p>
    <select id="" name="budget-from">
        {% for budget in budgets %}
            <option value="{{ budget }}">
                {{ budget.category }} -
                {{ budget.name }} has
                ${{ budget.amount }}
            </option>
        {% endfor %}
    </select>

    <p>To</p>
    <select id="" name="budget-to">
        {% for budget in budgets %}
            <option value="{{ budget }}">
                {{ budget.category }} -
                {{ budget.name }} has
                ${{ budget.amount }}
            </option>
        {% endfor %}
    </select>
    <div>
        <p>Amount</p>
        <input
        type="text"
        id=""
        placeholder="Transfer Amount"
        name="transfer-amount"
        />
    </div>
    <button type="submit">Transfer/Submit</button>
</form>

{% endblock %}
