<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap"
      rel="stylesheet"
    />
    <title>ExpendAware</title>
  </head>
  <body>
    <header class="title">
      <div class="title-container">
        <h1>ExpendAware</h1>
      </div>

      <div class="menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>

      <div>
        <img
          src="{{ url_for('static', filename='/images/account-icon.png')}}"
          alt="account-icon"
        />
      </div>
    </header>

    <div id="menu-expand">
      <a href="#" id="side-menu-close">&timesbar;</a>
      <a href="#">Category</a>
      <a href="#">Expenses</a>
      <a href="#">Costs</a>
      <a href="#">Transfer</a>
      <a href="#">History</a>
      <a href="#">Statistic</a>
    </div>
    
    <div class="container">
      <div id="category-container">
        <h2>Category</h2>
        <form method="POST" id="category-form">
          <div class="group-input">
            <input type="text" id="category-name" placeholder="Category" name="category_name"/>
          </div>
          <button type="submit">Add Category</button>
        </form>



        <ul id="category-list">
          {% for category in categories %}
            <li> 
              <p> {{ category.name }} </p> 
            </li>
          {% endfor %}          
        </ul>
      </div>



      <div id="budget-container">
        <h2>Budget</h2>
        <form method="POST" id="budget-form">
          <div class="group-input">
            <input type="text" id="budget-name" placeholder="Budget name" name="budget_name">
            <input type="number" id="budget-amount" placeholder="Amount" name="budget_amount">
          </div>
          <label>Choose a category</label>
          <select id="budget-category" name="budget_fk_category">
            {% for category in categories %}
              <option value="{{ category.name }}"> {{ category.name }} </option>
            {% endfor %}
          </select>
          <button type="submit">Add Budget</button>
        </form>

        <ul id="budget-list">
          {% for budget in budgets %}
            <li> 
              <p> {{budget.category_name}} - {{ budget.name }} </p> 
              <p> ${{ budget.amount }} </p>
            </li>
          {% endfor %}          
        </ul>

      </div>

      <div id="expense-container">
        <h2>Expenses</h2>


        
        <form method="POST" id="expense-form">
          <div class="group-input">
            <input
              type="text"
              id="expense-description"
              placeholder="Description"
              name="exp_descr"
            />
            <input type="number" id="expense-amount" name="exp_price" placeholder="Price" step="0.01"/>
          </div>
          <label>Choose a category</label>
          <select id="expense-category" name="exp_fk_category">
            {% for category in categories %}
              <option value="{{ category.name }}"> {{ category.name }} </option>
            {% endfor %}
          </select>
          <button type="submit">Add Expense</button>
        </form>



        <ul id="expense-list">
          {% for expense in expenses %}
            <li> 
              <p> {{ expense.category_name }} - {{ expense.descr }} </p> 
              <p> ${{ expense.price }} </p>
            </li>
          {% endfor %}
        </ul>
      </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
